<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mis.mapper.GraduateMapper">
  <resultMap id="BaseResultMap" type="com.edu.mis.model.Graduate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="job_info_id" jdbcType="INTEGER" property="jobInfoId" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="institute_id" jdbcType="INTEGER" property="instituteId" />
    <result column="img_url" jdbcType="LONGVARCHAR" property="imgUrl" />
  </resultMap>
</mapper>