<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mis.mapper.SysInfoMapper">
  <resultMap id="BaseResultMap" type="com.edu.mis.model.SysInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_notice" jdbcType="LONGVARCHAR" property="sysNotice" />
    <result column="sys_intro" jdbcType="LONGVARCHAR" property="sysIntro" />
  </resultMap>
</mapper>