<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mis.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.edu.mis.model.Teacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="birthdate" jdbcType="VARCHAR" property="birthdate" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="img_url" jdbcType="LONGVARCHAR" property="imgUrl" />
  </resultMap>
</mapper>